body {
    background-image: url(../img/background.jpg);
}

table {
    color: white;
    border: 2px solid white;
    width: 100%;
}

body a { color: gray}

#page-header {
    color: white;

}
.container-fluid p,h1 {
    color: white;
    text-align: center;
}

.container-fluid #subheader {
    color: white;
    text-align: center;
    padding: 5%
}
.container-fluid #about-list {
    align: center;
    color: white;
    font-size: 20pt;
}

.container-fluid .gallery {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.gallery img {
    padding: 4px;
    width: 25%;
    height: 100%;
}

.container-fluid .content {
    color: white;
    text-align: left;
    padding: 50px;
    font-size: 16pt;
    font-family: "Nirmala UI";
}

p .link {
color: white;
}

p .link:hover {
    color: white;
    background-color: transparent;
}