body {
    background-image: url(../img/background.jpg);

}

table {
    color: white;
    border: 2px solid white;
    width: 100%;
}

body a { color: gray}
#page-header {
    color: white;

}
.container-fluid p,h1 {
    color: white;
    text-align: center;
}

.container-fluid #about-list {
    align: center;
    color: white;
    font-size: 20pt;
}

.container-fluid .content {
    color: white;
    text-align: left;
    padding: 50px;
    font-size: 16pt;
    font-family: "Nirmala UI";
}