body {
    background-image: url(../img/background.jpg);

}
body a { color: gray}
#page-header {
    color: white;

}
.container-fluid p,h1 {
    color: white;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
}

.container-fluid #about-list {
    align: center;
    color: white;
    font-size: 20pt;
}
