body {
    background-image: url(./img/background.jpg);

}
body a { color: gray}
#page-header {
    color: white;

}
.container-fluid p,h1 {
    color: white;
    text-align: center;
}

.container-fluid ul {
    align: center;
    color: white;
}